* {
    padding: 0;
    margin: 0;
    outline: 0;
}

a,
a:hover {
    text-decoration: none;
}

ul,
ol {
    text-decoration-style: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0px;
}


html,
body {
    scroll-behavior: smooth;
    font-family: 'Cormorant', serif;
}

/*===== Common css Ends =====*/

/*===== navbar part css start =====*/
.navbar {
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    transition: all linear .3s;
}


.navbar .navbar-brand {
    font-size: 40px;
    font-weight: 400;
    color: #fff;
}

.navbar .navbar-brand:hover {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffff;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
    transition: all linear .3s;
    position: relative;
    padding: 0px 15px;
}

.navbar-light .navbar-nav .nav-link:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #c7b299;
    opacity: 0;
    transition: all linear .3s;
}

.navbar-light .navbar-nav .nav-link:hover:after {
    opacity: 1;
    width: 100%;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #c7b299;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #c7b299;
}

.navbar-light .navbar-nav .nav-link.active:after {
    opacity: 1;
    width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
}

/*===== navbar part css start =====*/

/*===== banner part css start =====*/
#banner {
    background: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 900px;
    position: relative;
}

#banner .banner_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(17, 17, 17, 0.7);
}

.banner_item {
    padding-bottom: 25px;
}

@font-face {
    font-family: 'Abiah-Bold';
    src: url(../webfont/Abiah-Bold.woff);
    font-style: bold;
    font-weight: bold;
}

.banner_item h3 {
    padding-top: 300px;
    font-size: 32px;
    color: #ffffff;
    font-weight: bold;
    padding-bottom: 15px;
    font-family: Abiah-Bold;
    text-transform: capitalize;
}

.banner_item h1 {
    font-size: 80px;
    color: #ffffff;
    font-weight: bold;
    font-family: Abiah-Bold;
    text-transform: capitalize;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
}

.banner_item p {
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    padding-bottom: 55px;
    padding-top: 25px;
}

.banner_item a {
    font-size: 16px;
    color: #ffffff;
    font-weight: 800;
    padding: 16px 35px;
    border-radius: 3px;
    background: transparent;
    border: 3px solid #fff;
    text-transform: uppercase;
    transition: all linear .3s;
}

.banner_item a:hover {
    color: #A77749;
    background: #fff;
}

/*===== banner part css ends =====*/



/*===== navbar part css start =====*/
/* .navbar {
    height: 90px;
    transition: all linear .3s;
    background-color: #A77749;
}

.bg {
    background: #191919;
    position: fixed;
    animation: menu 1s;
    width: 100%;
    z-index: 999;
}

@keyframes menu {
    from {
        top: -50px;
    }

    to {
        top: 0px;
    }
}

.navbar .navbar-brand {
    font-size: 40px;
    font-weight: 400;
    color: #fff;
}

.navbar .navbar-brand:hover {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffff !important;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
    transition: all linear .3s;
    position: relative;
    padding: 0px 15px;
}

.navbar-light .navbar-nav .nav-link:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #c7b299;
    opacity: 0;
    transition: all linear .3s;
}

.navbar-light .navbar-nav .nav-link:hover:after {
    opacity: 1;
    width: 100%;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #c7b299 !important;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #c7b299;
}

.navbar-light .navbar-nav .nav-link.active:after {
    opacity: 1;
    width: 100%;
}
 */


/*===== navbar part css start =====*/

/*===== banner part css start =====*/
/* #banner {
    background: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 900px;
    position: relative;
    z-index: -1;
}

#banner .banner_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(167, 119, 73, 0.35);
}

.banner_item {
    padding-bottom: 25px;
}

@font-face {
    font-family: 'Abiah-Bold';
    src: url(../webfont/Abiah-Bold.woff);
    font-style: bold;
    font-weight: bold;
}

.banner_item h3 {
    padding-top: 300px;
    font-size: 32px;
    color: #ffffff;
    font-weight: bold;
    padding-bottom: 15px;
    font-family: Abiah-Bold;
    text-transform: capitalize;
}

.banner_item h1 {
    font-size: 80px;
    color: #ffffff;
    font-weight: bold;
    font-family: Abiah-Bold;
    text-transform: capitalize;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
}

.banner_item p {
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    padding-bottom: 55px;
    padding-top: 25px;
}

.banner_item a {
    font-size: 16px;
    color: #ffffff;
    font-weight: 800;
    padding: 16px 35px;
    border-radius: 3px;
    background: transparent;
    border: 3px solid #fff;
    text-transform: uppercase;
    transition: all linear .3s;
}

.banner_item a:hover {
    color: #A77749;
    background: #fff;
} */

/*===== banner part css ends =====*/

/*===== about part css start =====*/
#about {
    padding-top: 80px;
    padding-bottom: 80px;
}

#about h3 {
    font-size: 32px;
    font-weight: 700;
    color: #A77749;
}

#about p {
    font-size: 16px;
    font-weight: 400;
    color: #A77749;
    padding: 15px 250px 0px 250px;
    font-family: 'Montserrat', sans-serif;
}


/*===== about part css ends =====*/


/*===== rents part css start =====*/
#rents .rents-img {
    background-image: url(../images/beach-1852945_1280.jpg);
    height: 525px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#rents h3 {
    font-size: 32px;
    font-weight: 700;
    color: #A77749;
}

#rents p {
    font-size: 16px;
    font-weight: 400;
    color: #A77749;
    font-family: 'Montserrat', sans-serif;
}

#rents .rents-txt {
    padding-top: 100px;
    padding-bottom: 52px;
    padding-left: 25px;
}

#rents p span {
    padding-top: 15px;
    font-size: 20px;
    font-weight: 600;
    color: #A77749;
}

#rents ul {
    padding-left: 45px;
}

#rents ul li {
    font-size: 18px;
    font-weight: 600;
    color: #A77749;
    line-height: 30px;
    text-transform: capitalize;
}


/*===== rents part css ends =====*/


/*===== taps part css start =====*/

#taps {
    height: 350px;
}

#taps .taps-img img {
    margin-left: -15px !important;
    width: 100%;
    height: 350px;
}

#taps h3 {
    padding-top: 120px;
    font-size: 32px;
    font-weight: 700;
    color: #A77749;
}

#taps p {
    padding: 20px 0px 40px 0px;
    font-size: 16px;
    font-weight: 400;
    color: #A77749;
    font-family: 'Montserrat', sans-serif;
}

/*===== taps part css ends =====*/


/*===== included part css start =====*/

#included .included-img {
    background-image: url(../images/8.jpg);
    height: 525px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#included .included-txt {
    padding-top: 120px;
    padding-bottom: 35px;
    padding-left: 25px;
}

#included h3 {
    font-size: 32px;
    font-weight: 700;
    color: #A77749;
}

#included p {
    font-size: 16px;
    font-weight: 400;
    color: #A77749;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
}


#included ul {
    padding-left: 45px;
}

#included ul li {
    font-size: 18px;
    font-weight: 600;
    color: #A77749;
    line-height: 30px;
    text-transform: capitalize;
}

/*===== included part css ends =====*/


/*===== size part css start =====*/

#size {
    height: 350px;
}

#size .size-img img {
    margin-left: -15px !important;
    width: 100%;
    height: 350px;
}

#size h3 {
    padding-top: 100px;
    font-size: 32px;
    font-weight: 700;
    color: #A77749;
    padding-bottom: 20px;
}

#size ul {
    padding-left: 45px;
}

#size ul li {
    font-size: 18px;
    font-weight: 600;
    color: #A77749;
    line-height: 30px;
    text-transform: capitalize;
}


/*===== size part css ends =====*/


/*===== license part css start =====*/

#license .license-img {
    background-image: url(../images/wave-3473335_1280.jpg);
    height: 525px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#license h3 {
    font-size: 32px;
    font-weight: 700;
    color: #A77749;
}

#license p {
    font-size: 16px;
    font-weight: 400;
    color: #A77749;
    font-family: 'Montserrat', sans-serif;
    padding-top: 15px;
    padding-right: 35px;
}

#license .license-txt {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 25px;
}

/*===== license part css ends =====*/


/*===== footer part css start =====*/
#footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #191a22;
}

#footer p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding-right: 70px;
}

#footer h5 {
    padding-left: 100px;
}

#footer a {
    font-size: 16px;
    color: #ffffff;
    font-weight: 800;
    padding: 16px 35px;
    border-radius: 3px;
    background: transparent;
    border: 3px solid #fff;
    text-transform: uppercase;
    transition: all linear .3s;
    border-radius: 50px;
}

#footer a:hover {
    color: #A77749;
    background: #fff;
    -webkit-box-shadow: 0px 0px 45px 34px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 45px 34px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 45px 34px rgba(0, 0, 0, 0.3);
}

/*===== footer part css ends =====*/

/*===== banner part css start =====*/
#about-banner {
    background-image: url(../images/about-banner.jpeg);
    height: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#about-banner .about-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.60);
}

#about-banner .banner_item h2 {
    padding-top: 200px;
    font-size: 40px;
    color: #ffffff;
    font-weight: 700;
    text-transform: Uppercase;
}

/*===== banner part css ends =====*/


/*===== response part css start =====*/
#response {
    background: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 640px;
    position: relative;
    background-attachment: fixed;
}

#response .response_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(167, 119, 73, 0.35);
}

.response-txt {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #fff;
    padding: 100px 150px;
}

.response-txt h3 {
    font-size: 32px;
    font-weight: 700;
    color: #A77749;
}

.response-txt p {
    font-size: 16px;
    font-weight: 400;
    color: #A77749;
    padding-top: 15px;
    padding-right: 35px;
}

/*===== response part css ends =====*/



/*===== community part css start =====*/
#community {
    background: url(../images/party-2250007_1920.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 570px;
    position: relative;
    background-attachment: fixed;
}

#community .community_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(167, 119, 73, 0.35);
}

.community-txt {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #fff;
    padding: 100px 150px;
}

.community-txt h3 {
    font-size: 32px;
    font-weight: 700;
    color: #A77749;
}

.community-txt p {
    font-size: 16px;
    font-weight: 400;
    color: #A77749;
    padding-top: 15px;
    padding-right: 35px;
}

/*===== community part css ends =====*/


/*===== inquire part css start =====*/

#inquire .inquire-img {
    background-image: url(../images/3.png);
    height: 1100px;
    background-repeat: no-repeat;
}

#inquire h3 {
    font-size: 32px;
    font-weight: 700;
    color: #A77749;
    text-align: center;
    padding-bottom: 30px;
}

#inquire .inquire-txt {
    padding-top: 80px;
    padding-bottom: 80px;
}

#inquire label {
    color: #A77749;
}

#inquire input {
    background-color: #72313286;
    color: #fff;
}

#inquire ::placeholder {
    color: #fff;
}

#inquire select {
    background-color: #72313286;
    color: #fff;
}


#inquire h5 {
    text-align: center;
    padding-top: 30px;
}

#inquire a {
    font-size: 16px;
    color: #ffffff;
    font-weight: 800;
    padding: 12px 45px;
    border-radius: 3px;
    background: transparent;
    border: 2px solid #fff;
    background-color: #723132;
    text-transform: uppercase;
    transition: all linear .3s;

}

#inquire a:hover {
    color: #723132;
    background-color: transparent;
    border: 2px solid #723132;
}

/*===== inquire part css ends =====*/


/*===== contact part css start =====*/
#contact img {
    width: 100%;
}

#contact h3 {
    font-size: 32px;
    font-weight: 700;
    color: #A77749;
    text-align: center;
    padding-bottom: 30px;
}

#contact .contact-txt {
    padding-top: 80px;
    padding-bottom: 80px;
}

#contact label {
    color: #A77749;
}

#contact input {
    background-color: #72313286;
    color: #fff;
}

#contact ::placeholder {
    color: #fff;
}

#contact select {
    background-color: #72313286;
    color: #fff;
}

#contact textarea {
    background-color: #72313286;
    resize: none;
    color: #fff;
}


#contact h5 {
    text-align: center;
    padding-top: 30px;
}

#contact a {
    font-size: 16px;
    color: #ffffff;
    font-weight: 800;
    padding: 12px 45px;
    border-radius: 3px;
    background: transparent;
    border: 2px solid #fff;
    background-color: #723132;
    text-transform: uppercase;
    transition: all linear .3s;

}

#contact a:hover {
    color: #723132;
    background-color: transparent;
    border: 2px solid #723132;
}

/*===== contact part css ends =====*/


/*===== coming-soon part css start =====*/
#coming-soon {
    padding-top: 100px;
    padding-bottom: 100px;
}

#coming-soon h1{
    font-size: 82px;
    font-weight: 700;
    color: #A77749;
}

/*===== coming-soon part css ends =====*/